@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* aqui inicia o style da barra de navegação - header  */
.cabecalho {
    /* position: relative; */
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0;
    font-family: 'Ubuntu', sans-serif;
}
.cabecalho-logo {
    font-size: 16px;
    letter-spacing: 1px;
}
.cabecalho-logo > a {
    color: #ff914d;
    font-size: 2rem;
    font-weight: 600
}

.cabecalho-logo > a > span {
    font-family: 'Poppins', sans-serif;
    color: #161616;
    font-size: 1.1em;
}

button{
    cursor: pointer;
}

.cabecalho-menu a button{
    color: #161616;
    font-size: 1rem;
    font-weight: 500;
    padding: 2px 16px;
    border: #fff;
    border-radius: 6px;
    background: #fff;
    width: auto;
    height: 32px;
    transition: all 0.3s;
}
.cabecalho-menu a button:hover{
    border: #fff;
    border-radius: 6px;
    background: rgb(233, 229, 229);
    width: auto;
    height: 2rem;
}

.cabecalho-conta {
    display: flex;
    gap: 1rem;
}

.cabecalho-conta .cabecalho-conta-abra {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 15px;
    background-color: #ff914d;
    border: none;
    width: 9rem;
    height: 2.8rem;
    border: 1px solid #ff914d;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.cabecalho-conta .cabecalho-conta-acesse {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 15px;
    background-color: #ff914d;
    border: none;
    width: 6rem;
    height: 2.8rem;
    border: 1px solid #ff914d;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.cabecalho-conta a button:hover {
    background-color: rgb(233, 229, 229);
    color: #161616;
}


/* inicio do Conteúdo principal ----- */

.conteudo-principal{
    font-size: 1.5rem;
    }

.Titulo-Principal{
   color: #ff914d;
   text-align:left; 
   padding-top: 5rem;
   padding-left: 4rem;
  
}

.div1{
    display: flex;
}

.p1{
    font-size: 1.2em;
    display: flex;
    flex-grow: 1;
    justify-content:left;
    padding: 4rem;
    padding-bottom: 13rem;
   
}

.img-p1 img{
    display: flex;
    width: 38vw;
    height: auto;
    padding-right: 7rem;
    padding-top: -20rem;
}

.p2{
    font-size: 1.5em;
    color: #fff;
    display: flex;
    padding: 16rem 5rem;
    background-size: 100%;
    background-image: url(https://media.gazetadopovo.com.br/sites/2/2021/02/19141903/rir-saude-960x540.jpg);
}

.cor-palavra-p2{
    color: #ff914d;
}

.div3{
    display: flex;
}

#titulo-p3{
    color: #ff914d;
    text-align:start; 
    padding-top: 8rem;
    padding-left: 10rem;
    font-size: 1.5em;
}

.p3{
    font-size: 1.3em;
    color: black;
    display: flex;
    padding-top: 3rem;
    padding-left: 10rem;
}

.img-p3 img{
    display: flex;
    justify-content:flex-end;
    width: 33vw;
    height: auto;
    padding-left: 5rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.p4{
    display: flex;
    font-size: 1.3em;
    color: #fff;
    padding: 16rem 5rem;
    /* background-image: url(https://tecfy.com.br/wp-content/uploads/2019/04/original-73f0486e78e57f2797f0892651d30463.jpg); */
    background-image: url(https://media.gettyimages.com/photos/black-woman-downtown-using-mobile-phone-and-holding-laptop-picture-id1203971920);
    background-size: 100%;
}
.div5{
    display: flex;
}
#titulo-p5{
    color: #ff914d;
    text-align:start; 
    padding-top: 6rem;
    padding-left: 4rem;
    font-size: 1.5em;
}

.p5{
    font-size: 1.3em;
    color: black;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 13.5rem;
    padding-left: 4rem;

}

.img-p5{
    width: 34vw;
    height: 40vh;
    border-radius: 60% 0 60% 0 ;
    display: flex;
    padding-left: 10rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    

}

/* Formato para o Footer */

.footer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #ff914d;
    padding: 2rem;
    color: #161616;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    
  
  }
  
  .footer .img-redes-insta{
    display: flex;
    height: 20%;
    width: 20%;
    justify-content: space-evenly
  }
  
  .footer .img-redes-twitter{
    display: flex;
    height: 20%;
    width: 20%;
    justify-content: space-evenly
  }
  .footer .img-redes-facebook{
    display: flex;
    height: 20%;
    width: 20%;
    justify-content: space-evenly
  } 
  
   #copyr{
    text-align: center;
    color:black;
    font-weight: bold;
    align-items: center;
  } 



/* aqui inicia a parte responsiva  */

label {
    display: none;
}

#check {
    z-index: 3;
    display: none;
}

@media (max-width: 960px){
    header .cabecalho-menu{
        display: none;
    }

    label {
        display: block;
        font-size: 32px;
        cursor: pointer;
        transition: 0.3s;
    }

    label .menu-btn:hover {
        color: #ff914d;
    }

    label .close-btn:hover {
        color: #fff;
    }

    label .close-btn {
        display: none;
    }
    #check:checked ~ header .cabecalho-menu {
        z-index: 2;
        position: fixed;
        background: rgba(243, 156, 18, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .cabecalho-menu-item {
        margin-left: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
        font-weight: 700;
    }
    #check:checked ~ header .cabecalho-menu-item:hover {
        background: #161616;
        color: #fff;
    }
    #check:checked ~ header label .menu-btn {
        display: none;
    }

    #check:checked ~ header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn {
        position: absolute;
    }

    label {
        padding-bottom: 28px;
    }

    .cabecalho {
        margin-top: -10px;
        margin-bottom: -8px;
    }

}





@media (max-width: 610px){
    header .cabecalho-conta{
        display: none;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
}